{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  }
}
